<section class="s-gris">
  <img src="/imagenes/imagen-fondo-usuario-2.jpg" alt="banner" class="banner" />
  <article class="art-banner-style">
  </article>

  <!--<div class="carrusel_contenedor">

    <div class="atras botones">

    </div>
    <div class="adelante botones">

    </div>
    <img src="/imagenes/imagen-fondo-usuario-2.jpg" class="img_carrousel" alt="" id="imagen">
  </div>-->

</section>