<footer class="f-footer t-grey-bg">
  <div class="f-primero">
    <h3 class="f-titulo">Mas informacion</h3>
    <p class="f-info"><a class="f-links" href="#">Quienes somos</a></p>
    <p class="f-info">
      <a class="f-links" href="#">¿Por que elegirnos?</a>
    </p>
    <p class="f-info">
      <a class="f-links" href="#">Preguntas frecuentes</a>
    </p>
    <p class="f-info">
      <a class="f-links" href="#">Terminos y condiciones</a>
    </p>
    <p class="f-100">
      <a class="f-links" href="#">Politicas de privacidad</a>
    </p>
  </div>

  <div class="f-cuarto">
    <h3 class="f-titulo">Contactanos</h3>
    <p class="f-contacto">
      <i><a class="f-links" href="#">Formulario de contacto</a></i>
    </p>
    <p class="f-contacto">
      <i><a class="f-links" href="#">Contactanos via whatssap</a></i>
    </p>
    <p class="f-100">
      <i><a class="f-links" href="#">contacto@deporteando.com</a></i>
    </p>
  </div>

  <div class="f-segundo">
    <i><a href="#" class="fa fa-facebook"></a></i>
    <i><a href="#" class="fa fa-twitter"></a></i>
  </div>

  <div class="f-tercero">
    <p class="f-copy">Copyrigth@deporteando</p>
  </div>
</footer>
