<header class="h-contenedor-header t-grey-bg">
  <div class="display-flex space-between item-center">
    <div class="h-contenedor-logo"><a href="/Evento">
        <img class="logo" src="/imagenes/deporteandoLogo.png" alt="logo" /></a>
    </div>
    <div class="h-icon-design display-none-sm">
      <i class="fas fa-bars"></i>
    </div>
    <div class="h-content-nav-sm">
      <nav class="display-none display-flex-sm navbar-sm">
        <ul>
          <% if(locals.isLogged){ %>
            <li>
              <img class="avatar" src="/imagenes/Users/<%= locals.userLogged.avatar%>">
              <a href="/Usuario/<%-locals.userLogged.id%> "> Hola <%= locals.userLogged.first_name + " " +
                  locals.userLogged.last_name%>
              </a>
            </li>
           
            <% } else { %>
              <li>
                <a href="/Usuario/Registro">Registrate</a>
              </li>
              <li>
                <a href="/Usuario/Login">Inicias sesión</a>
              </li>
              <% } %>
              <li>
                <a href="/Evento/CrearEvento" class="boton-menu">CREAR EVENTO</a>
              </li>
               
        </ul>
      </nav>
    </div>
</header>