.wrap {
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
}

div {
  display: block;
}
.contenedor {
  width: 1170px;
  overflow: hidden;
  margin: 10px auto 10px auto;
}

h1 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.3em;
  margin-bottom: 20px;
  color: #424040;
}

.cont-login {
  padding: 50px 0;
}

.cont-login article {
  margin: 1%;
  float: left;
  width: 48%;
}

form {
  display: block;
  margin-top: 0em;
}

form.contacto div {
  margin: 1%;
  overflow: hidden;
  width: 98%;
  float: left;
}

form.contacto div.div-50 {
  margin: 1%;
  overflow: hidden;
  width: 47%;
}

form.contacto div label {
  display: block;
  /* float: left; */
  font-size: 14px;
  font-family: sans-serif;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

form.contacto input[type="password"] {
  background: #fff;
  border: 1px solid #d1d1d1;
  color: #333;
  display: block;
  float: left !important;
  height: 40px;
  padding: 0 0 0 2%;
  margin-top: 5px;
  margin-bottom: 0px;
  transition-duration: 0.3s;
  width: 95%;
  border-radius: 5px;
}

label {
  cursor: default;
}

.bttn {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
  background: #ffb700;
  display: block;
  float: left;
  padding: 10px 5px;
  width: auto;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  border: 0;
}

.bttn:hover {
  background: #eb2055;
  transition: 0.3s;
  color: #fff;
}

.cont-loginprofil article {
  margin: 1%;
  float: left;
  width: 98%;
}
